<!DOCTYPE>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body >   
    <div id="thingbody"> 
    <h1 id="thingheader"><%= title %></h1>
    <p id="thingparagraph"> <%= title %></p>
    <div class="container">
    <div class="leftdiv">
        <img src="images/test.jpg" alt="Mountain view" style="width:200px;height:200px;">

    </div>
    <div class="rightdiv">
      <b>It been a long week coming in the LasuCodes programming class. The arena has been exposing us to different
      segments of programming. we have got quite interesting number of instructors who are trying their best to ensure we learn,
      I am Gbeminija Ademuyiwa kindly follow to design and negotiate your world class web development for your business. We LASU we 
      are Proud.  </b>
      
      <button>Follow</button>
    </div>
    </div></div>
  </body>
</html>